extends includes/_layout

block head
	+global_headstuff({title:thread.post_title+" ~ Producer-Network"})

block body

	div.Thread
		.content
			h1= thread.post_title
			- var parsed = m_reader.parse(thread.post_text);
			- var result = m_writer.render(parsed);
			div.text!= result

	if thread.comments
		div.Comments
			each comment in thread.comments
				div.Comment
					- var gav = "https://www.gravatar.com/avatar/"
					- var av = md5(comment.user.email)
					div.user
						div.avatar
							img(src=gav+av, width="50", height="50")
						div.username= comment.user.username
					div.time= moment(comment.created).fromNow()
					- var comment_parsed = m_reader.parse(comment.post_text);
					- var comment_result = m_writer.render(comment_parsed);
					div.text!= comment_result


	.Form
		form(action="/api/post", method="post")
			h2 Kommentar verfassen!
			input(type="hidden", name="id", value!=thread._id)

			div.form_input
				label Text
				textarea(name="post_text")
			div.button_bar
				input(type="submit")


